# Игнорирование файлов окружения
.env
*.env

# Игнорирование бинарных файлов и директорий
bin/
dist/
main

# Игнорирование файлов редактора и ОС
.vscode/
.idea/
.DS_Store

# Игнорирование кэша Go и vendor-директории
/vendor/
go.mod.sum